In [2]:
#se importa Pandas
import pandas as pd
from numpy import inf

In [3]:
#se lee el archivo csv
movies_db = pd.read_csv("movies_dataset.csv")

C:\Users\Joa\AppData\Local\Temp\ipykernel_2020\1836251478.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_db = pd.read_csv("movies_dataset.csv")

In [4]:
#se carga la base de datos en un dataframe
movies_db = pd.DataFrame(movies_db)

In [5]:
movies_db

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [6]:
#se separa la columna "belongs to collection" en más columnas para desanidar su contenido
movies_db[["collection_id", "name", "poster_path_2", "backdrop_path", "4", "5"]] = movies_db["belongs_to_collection"].str.split(",", expand=True)

In [7]:
movies_db

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,collection_id,name,poster_path_2,backdrop_path,4,5
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,{'id': 10194,'name': 'Toy Story Collection','poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B....,'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKU...,None,None
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN,None,None
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,{'id': 119050,'name': 'Grumpy Old Men Collection','poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet....,'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8...,None,None
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,NaN,NaN,None,None
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,{'id': 96871,'name': 'Father of the Bride Collection','poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204....,'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUyd...,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Subdue,False,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Century of Birthing,False,9.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Betrayal,False,3.8,6.0,NaN,NaN,NaN,NaN,NaN,NaN
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Satan Triumphant,False,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#se eliminan las columnas que aparecen entre corchetes
movies_db = movies_db.drop(["adult", "belongs_to_collection", "poster_path", "video", "collection_id", "poster_path_2", "backdrop_path", "4", "5", "imdb_id", "original_title", "homepage"], axis=1)

In [9]:
#se desanida la columna "name"
movies_db[["1", "name", "collection"]] = movies_db["name"].str.split(":", expand=True)

In [10]:
#se borran las columnas innecesarias
movies_db = movies_db.drop(["1", "collection"], axis=1)

In [11]:
#se renombra la columna "name"
movies_db = movies_db.rename(columns={"name":"collection"})

In [12]:
movies_db

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,'Toy Story Collection'
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection'
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,NaN
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,NaN
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN
45464,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,NaN
45465,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,NaN

In [13]:
#se desanida la columna "genres"
movies_db[[1,2,3,4,5,6,7,8]] = movies_db["genres"].str.split(",", n=7, expand=True)

In [14]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop([1,3,5,7], axis=1)

In [15]:
movies_db

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,status,tagline,title,vote_average,vote_count,collection,2,4,6,8
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,Released,NaN,Toy Story,7.7,5415.0,'Toy Story Collection','name': 'Animation'},'name': 'Comedy'},'name': 'Family'}],None
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,'name': 'Adventure'},'name': 'Fantasy'},'name': 'Family'}],None
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection','name': 'Romance'},'name': 'Comedy'}],None,None
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,'name': 'Comedy'},'name': 'Drama'},'name': 'Romance'}],None
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection','name': 'Comedy'}],None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,...,Released,Rising and falling between a man and woman,Subdue,4.0,1.0,NaN,'name': 'Drama'},'name': 'Family'}],None,None
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,...,Released,NaN,Century of Birthing,9.0,3.0,NaN,'name': 'Drama'}],None,None,None
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,...,Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,'name': 'Action'},'name': 'Drama'},'name': 'Thriller'}],None
45464,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,...,Released,NaN,Satan Triumphant,0.0,0.0,NaN,None,None,None,None
45465,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,...,Released,NaN,Queerama,0.0,0.0,NaN,None,None,None,None

In [16]:
#se separan los distintos géneros
movies_db[["name1", "genre_1"]] = movies_db[2].str.split(":", expand=True)
movies_db[["name2", "genre_2"]] = movies_db[4].str.split(":", n=1, expand=True)
movies_db[["name3", "genre_3"]] = movies_db[6].str.split(":", n=1, expand=True)
movies_db[["name4", "genre_4"]] = movies_db[8].str.split(":", n=1, expand=True)

In [17]:
movies_db

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,6,8,name1,genre_1,name2,genre_2,name3,genre_3,name4,genre_4
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,'name': 'Family'}],None,'name','Animation'},'name','Comedy'},'name','Family'}],None,None
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,'name': 'Family'}],None,'name','Adventure'},'name','Fantasy'},'name','Family'}],None,None
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,...,None,None,'name','Romance'},'name','Comedy'}],None,None,None,None
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,...,'name': 'Romance'}],None,'name','Comedy'},'name','Drama'},'name','Romance'}],None,None
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,...,None,None,'name','Comedy'}],None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,...,None,None,'name','Drama'},'name','Family'}],None,None,None,None
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,...,None,None,'name','Drama'}],None,None,None,None,None,None
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,...,'name': 'Thriller'}],None,'name','Action'},'name','Drama'},'name','Thriller'}],None,None
45464,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,...,None,None,None,None,None,None,None,None,None,None
45465,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,...,None,None,None,None,None,None,None,None,None,None

In [18]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop(["genres",2,4,6,8,"name1", "name2", "name3", "name4"], axis=1)

In [19]:
#se eliminan las celdas con contenido Nan
movies_db.fillna("", inplace=True)

In [20]:
#se vuelven a unir las columnas con los distintos géneros en una sola, separados por una coma
movies_db["genres"] = movies_db[["genre_1", "genre_2", "genre_3", "genre_4"]].agg(", ".join, axis=1)

In [21]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop(["genre_1", "genre_2", "genre_3", "genre_4"], axis=1)

In [22]:
#se desanida la columna "production companies"
movies_db[[1,2,3,4,5,6]] = movies_db["production_companies"].str.split(",", n=5, expand=True)

In [23]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop([2,4,6], axis=1)

In [24]:
#se siguen desanidando las columnas resultantes
movies_db[["name1", "company1"]] = movies_db[1].str.split(":", n=1,expand=True)
movies_db[["name2", "company2"]] = movies_db[3].str.split(":", n=1,expand=True)
movies_db[["name3", "company3"]] = movies_db[5].str.split(":", n=1,expand=True)

In [25]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,genres,1,3,5,name1,company1,name2,company2,name3,company3
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,"'Animation'}, 'Comedy'}, 'Family'}],",[{'name': 'Pixar Animation Studios',None,None,[{'name','Pixar Animation Studios',None,None,None,None
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,"'Adventure'}, 'Fantasy'}, 'Family'}],",[{'name': 'TriStar Pictures',{'name': 'Teitler Film',{'name': 'Interscope Communications',[{'name','TriStar Pictures',{'name','Teitler Film',{'name','Interscope Communications'
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,"'Romance'}, 'Comedy'}], ,",[{'name': 'Warner Bros.',{'name': 'Lancaster Gate',None,[{'name','Warner Bros.',{'name','Lancaster Gate',None,None
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,"'Comedy'}, 'Drama'}, 'Romance'}],",[{'name': 'Twentieth Century Fox Film Corporat...,None,None,[{'name','Twentieth Century Fox Film Corporation',None,None,None,None
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,"'Comedy'}], , ,",[{'name': 'Sandollar Productions',{'name': 'Touchstone Pictures',None,[{'name','Sandollar Productions',{'name','Touchstone Pictures',None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",,0.0,90.0,...,"'Drama'}, 'Family'}], ,",[],None,None,[],None,None,None,None,None
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,...,"'Drama'}], , ,",[{'name': 'Sine Olivia',None,None,[{'name','Sine Olivia',None,None,None,None
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,...,"'Action'}, 'Drama'}, 'Thriller'}],",[{'name': 'American World Pictures',None,None,[{'name','American World Pictures',None,None,None,None
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,...,", , ,",[{'name': 'Yermoliev',None,None,[{'name','Yermoliev',None,None,None,None
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,...,", , ,",[],None,None,[],None,None,None,None,None

In [26]:
#se reemplazan los valores faltantes con espacio vacío y se unen las columnas resultantes en una sola
movies_db.fillna("", inplace=True)
movies_db["production_companies"] = movies_db[["company1", "company2", "company3"]].agg(", ".join, axis=1)

In [27]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop([1,3,5,"name1","company1","name2","company2","name3","company3"], axis=1)

In [28]:
#se desanida la columna "production companies"
movies_db[[1,2,3,4,5,6,7,8,9,10]] = movies_db["production_countries"].str.split(", ", n=9, expand=True)

In [29]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop([1,3,5,7,9], axis=1)

In [30]:
#se siguen desanidando las columnas
movies_db[["name1", "country1"]] = movies_db[2].str.split(":", n=1,expand=True)
movies_db[["name2", "country2"]] = movies_db[4].str.split(":", n=1,expand=True)
movies_db[["name3", "country3"]] = movies_db[6].str.split(":", n=1,expand=True)
movies_db[["name4", "country4"]] = movies_db[8].str.split(":", n=1,expand=True)
movies_db[["name5", "country5"]] = movies_db[10].str.split(":", n=1,expand=True)

In [31]:
#se reemplazan los valores faltantes
movies_db.fillna("", inplace=True)

In [32]:
#se vuelven a unir las columnas resultantes
movies_db["production_countries"] = movies_db[["country1", "country2", "country3", "country4", "country5"]].agg(", ".join, axis=1)

In [33]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop([2,4,6,8,10,"name1","name2","name3","name4","name5","country1","country2","country3","country4","country5"], axis=1)

In [34]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"'Pixar Animation Studios', ,","'United States of America'}], , , ,",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,7.7,5415.0,'Toy Story Collection',"'Animation'}, 'Comedy'}, 'Family'}],"
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"'TriStar Pictures', 'Teitler Film', 'Inters...","'United States of America'}], , , ,",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,"'Adventure'}, 'Fantasy'}, 'Family'}],"
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"'Warner Bros.', 'Lancaster Gate',","'United States of America'}], , , ,",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection',"'Romance'}, 'Comedy'}], ,"
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"'Twentieth Century Fox Film Corporation', ,","'United States of America'}], , , ,",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,"'Comedy'}, 'Drama'}, 'Romance'}],"
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"'Sandollar Productions', 'Touchstone Picture...","'United States of America'}], , , ,",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection',"'Comedy'}], , ,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,", ,","'Iran'}], , , ,",,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,"'Drama'}, 'Family'}], ,"
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,"'Sine Olivia', ,","'Philippines'}], , , ,",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,,Century of Birthing,9.0,3.0,,"'Drama'}], , ,"
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"'American World Pictures', ,","'United States of America'}], , , ,",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,,"'Action'}, 'Drama'}, 'Thriller'}],"
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"'Yermoliev', ,","'Russia'}], , , ,",1917-10-21,0.0,87.0,[],Released,,Satan Triumphant,0.0,0.0,,", , ,"
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,", ,","'United Kingdom'}], , , ,",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Queerama,0.0,0.0,,", , ,"

In [35]:
#se desanida la columna "spoken languages"
movies_db[[1,2,3,4,5,6,7,8,9,10]] = movies_db["spoken_languages"].str.split(",", n=9, expand=True)

In [36]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop([2,4,6,8,10], axis=1)

In [37]:
#se siguen separando las columnas
movies_db[["iso1", "lan1"]] = movies_db[1].str.split(":", n=1, expand=True)
movies_db[["iso2", "lan2"]] = movies_db[3].str.split(":", n=1, expand=True)
movies_db[["iso3", "lan3"]] = movies_db[5].str.split(":", n=1, expand=True)
movies_db[["iso4", "lan4"]] = movies_db[7].str.split(":", n=1, expand=True)
movies_db[["iso5", "lan5"]] = movies_db[9].str.split(":", n=1, expand=True)

In [38]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop(["iso1","iso2","iso3","iso4","iso5", 1,3,5,7,9], axis=1)

In [39]:
#se reemplazan los valores faltantes y se vuelven a unir las columnas resultantes
movies_db.fillna("", inplace=True)
movies_db["spoken_languages"] = movies_db[["lan1","lan2","lan3","lan4","lan5"]].agg(", ".join, axis=1)

In [40]:
#se eliminan columnas innecesarias
movies_db = movies_db.drop(["lan1","lan2","lan3","lan4","lan5"], axis=1)

In [41]:
#se convierten los valores de la columna "revenue" a numéricos
movies_db["revenue"] = pd.to_numeric(movies_db["revenue"])

In [42]:
#se convierten los valores de la columna "budget" a numéricos. Si el valor de una celda no puede convertise a ese tipo de dato, se reemplaza por 0
try:
    movies_db["budget"] = pd.to_numeric(movies_db["budget"])

except ValueError:
    movies_db["budget"] = 0

In [43]:
#se crea la columna "return". Se reemplazan los valores infinitos y los nan por 0
movies_db["return"] = movies_db["revenue"]/movies_db["budget"]
movies_db["return"] = movies_db["return"].replace(inf, 0)
movies_db.fillna(0, inplace=True)

In [44]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres,return
0,0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"'Pixar Animation Studios', ,","'United States of America'}], , , ,",1995-10-30,373554033.0,81.0,"'en', , , ,",Released,,Toy Story,7.7,5415.0,'Toy Story Collection',"'Animation'}, 'Comedy'}, 'Family'}],",0.0
1,0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"'TriStar Pictures', 'Teitler Film', 'Inters...","'United States of America'}], , , ,",1995-12-15,262797249.0,104.0,"'en', 'fr', , ,",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,"'Adventure'}, 'Fantasy'}, 'Family'}],",0.0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"'Warner Bros.', 'Lancaster Gate',","'United States of America'}], , , ,",1995-12-22,0.0,101.0,"'en', , , ,",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection',"'Romance'}, 'Comedy'}], ,",0.0
3,0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"'Twentieth Century Fox Film Corporation', ,","'United States of America'}], , , ,",1995-12-22,81452156.0,127.0,"'en', , , ,",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,"'Comedy'}, 'Drama'}, 'Romance'}],",0.0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"'Sandollar Productions', 'Touchstone Picture...","'United States of America'}], , , ,",1995-02-10,76578911.0,106.0,"'en', , , ,",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection',"'Comedy'}], , ,",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,", ,","'Iran'}], , , ,",,0.0,90.0,"'fa', , , ,",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,"'Drama'}, 'Family'}], ,",0.0
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,"'Sine Olivia', ,","'Philippines'}], , , ,",2011-11-17,0.0,360.0,"'tl', , , ,",Released,,Century of Birthing,9.0,3.0,,"'Drama'}], , ,",0.0
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"'American World Pictures', ,","'United States of America'}], , , ,",2003-08-01,0.0,90.0,"'en', , , ,",Released,A deadly game of wits.,Betrayal,3.8,6.0,,"'Action'}, 'Drama'}, 'Thriller'}],",0.0
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"'Yermoliev', ,","'Russia'}], , , ,",1917-10-21,0.0,87.0,", , , ,",Released,,Satan Triumphant,0.0,0.0,,", , ,",0.0
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,", ,","'United Kingdom'}], , , ,",2017-06-09,0.0,75.0,"'en', , , ,",Released,,Queerama,0.0,0.0,,", , ,",0.0

In [47]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres,return
0,0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"'Pixar Animation Studios', ,","'United States of America'}], , , ,",1995-10-30,373554033.0,81.0,"'en', , , ,",Released,,Toy Story,7.7,5415.0,'Toy Story Collection',"'Animation'}, 'Comedy'}, 'Family'}],",0.0
1,0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"'TriStar Pictures', 'Teitler Film', 'Inters...","'United States of America'}], , , ,",1995-12-15,262797249.0,104.0,"'en', 'fr', , ,",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,"'Adventure'}, 'Fantasy'}, 'Family'}],",0.0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"'Warner Bros.', 'Lancaster Gate',","'United States of America'}], , , ,",1995-12-22,0.0,101.0,"'en', , , ,",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection',"'Romance'}, 'Comedy'}], ,",0.0
3,0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"'Twentieth Century Fox Film Corporation', ,","'United States of America'}], , , ,",1995-12-22,81452156.0,127.0,"'en', , , ,",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,"'Comedy'}, 'Drama'}, 'Romance'}],",0.0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"'Sandollar Productions', 'Touchstone Picture...","'United States of America'}], , , ,",1995-02-10,76578911.0,106.0,"'en', , , ,",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection',"'Comedy'}], , ,",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,", ,","'Iran'}], , , ,",,0.0,90.0,"'fa', , , ,",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,"'Drama'}, 'Family'}], ,",0.0
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,"'Sine Olivia', ,","'Philippines'}], , , ,",2011-11-17,0.0,360.0,"'tl', , , ,",Released,,Century of Birthing,9.0,3.0,,"'Drama'}], , ,",0.0
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"'American World Pictures', ,","'United States of America'}], , , ,",2003-08-01,0.0,90.0,"'en', , , ,",Released,A deadly game of wits.,Betrayal,3.8,6.0,,"'Action'}, 'Drama'}, 'Thriller'}],",0.0
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"'Yermoliev', ,","'Russia'}], , , ,",1917-10-21,0.0,87.0,", , , ,",Released,,Satan Triumphant,0.0,0.0,,", , ,",0.0
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,", ,","'United Kingdom'}], , , ,",2017-06-09,0.0,75.0,"'en', , , ,",Released,,Queerama,0.0,0.0,,", , ,",0.0

In [48]:
#se normaliza la columna "production_companies"
movies_db['production_companies'] = movies_db['production_companies'].str.replace('[\W\s]', ' ', regex=True)

In [49]:
movies_db['production_companies'] = movies_db['production_companies'].str.strip()

In [50]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres,return
0,0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,"'United States of America'}], , , ,",1995-10-30,373554033.0,81.0,"'en', , , ,",Released,,Toy Story,7.7,5415.0,'Toy Story Collection',"'Animation'}, 'Comedy'}, 'Family'}],",0.0
1,0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Intersco...,"'United States of America'}], , , ,",1995-12-15,262797249.0,104.0,"'en', 'fr', , ,",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,"'Adventure'}, 'Fantasy'}, 'Family'}],",0.0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros Lancaster Gate,"'United States of America'}], , , ,",1995-12-22,0.0,101.0,"'en', , , ,",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection',"'Romance'}, 'Comedy'}], ,",0.0
3,0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,"'United States of America'}], , , ,",1995-12-22,81452156.0,127.0,"'en', , , ,",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,"'Comedy'}, 'Drama'}, 'Romance'}],",0.0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions Touchstone Pictures,"'United States of America'}], , , ,",1995-02-10,76578911.0,106.0,"'en', , , ,",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection',"'Comedy'}], , ,",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,,"'Iran'}], , , ,",,0.0,90.0,"'fa', , , ,",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,"'Drama'}, 'Family'}], ,",0.0
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,Sine Olivia,"'Philippines'}], , , ,",2011-11-17,0.0,360.0,"'tl', , , ,",Released,,Century of Birthing,9.0,3.0,,"'Drama'}], , ,",0.0
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,"'United States of America'}], , , ,",2003-08-01,0.0,90.0,"'en', , , ,",Released,A deadly game of wits.,Betrayal,3.8,6.0,,"'Action'}, 'Drama'}, 'Thriller'}],",0.0
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,"'Russia'}], , , ,",1917-10-21,0.0,87.0,", , , ,",Released,,Satan Triumphant,0.0,0.0,,", , ,",0.0
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,,"'United Kingdom'}], , , ,",2017-06-09,0.0,75.0,"'en', , , ,",Released,,Queerama,0.0,0.0,,", , ,",0.0

In [51]:
#se normaliza la columna "production_countries"
movies_db['production_countries'] = movies_db['production_countries'].str.replace('[\W\s]', ' ', regex=True)
movies_db['production_countries'] = movies_db['production_countries'].str.strip()

In [52]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres,return
0,0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,"'en', , , ,",Released,,Toy Story,7.7,5415.0,'Toy Story Collection',"'Animation'}, 'Comedy'}, 'Family'}],",0.0
1,0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Intersco...,United States of America,1995-12-15,262797249.0,104.0,"'en', 'fr', , ,",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,"'Adventure'}, 'Fantasy'}, 'Family'}],",0.0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros Lancaster Gate,United States of America,1995-12-22,0.0,101.0,"'en', , , ,",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,'Grumpy Old Men Collection',"'Romance'}, 'Comedy'}], ,",0.0
3,0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,"'en', , , ,",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,"'Comedy'}, 'Drama'}, 'Romance'}],",0.0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions Touchstone Pictures,United States of America,1995-02-10,76578911.0,106.0,"'en', , , ,",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,'Father of the Bride Collection',"'Comedy'}], , ,",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,,Iran,,0.0,90.0,"'fa', , , ,",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,"'Drama'}, 'Family'}], ,",0.0
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,Sine Olivia,Philippines,2011-11-17,0.0,360.0,"'tl', , , ,",Released,,Century of Birthing,9.0,3.0,,"'Drama'}], , ,",0.0
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,United States of America,2003-08-01,0.0,90.0,"'en', , , ,",Released,A deadly game of wits.,Betrayal,3.8,6.0,,"'Action'}, 'Drama'}, 'Thriller'}],",0.0
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,Russia,1917-10-21,0.0,87.0,", , , ,",Released,,Satan Triumphant,0.0,0.0,,", , ,",0.0
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,,United Kingdom,2017-06-09,0.0,75.0,"'en', , , ,",Released,,Queerama,0.0,0.0,,", , ,",0.0

In [53]:
#se borran los caracteres no deseados de la columna "collection"
movies_db['collection'] = movies_db['collection'].str.replace('[\W\s]', ' ', regex=True)
movies_db['collection'] = movies_db['collection'].str.strip()

In [54]:
#se normaliza la columna "spoken_languages"
movies_db['spoken_languages'] = movies_db['spoken_languages'].str.replace('[\W^\s]', ' ', regex=True)

movies_db['genres'] = movies_db['genres'].str.replace('[\W\s]', ' ', regex=True)
#movies_db['genres'] = movies_db['genres'].str.strip(',')

In [55]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres,return
0,0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,en,Released,,Toy Story,7.7,5415.0,Toy Story Collection,Animation Comedy Family,0.0
1,0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Intersco...,United States of America,1995-12-15,262797249.0,104.0,en fr,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,Adventure Fantasy Family,0.0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros Lancaster Gate,United States of America,1995-12-22,0.0,101.0,en,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,Romance Comedy,0.0
3,0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,en,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,Comedy Drama Romance,0.0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions Touchstone Pictures,United States of America,1995-02-10,76578911.0,106.0,en,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,Comedy,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,,Iran,,0.0,90.0,fa,Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,Drama Family,0.0
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,Sine Olivia,Philippines,2011-11-17,0.0,360.0,tl,Released,,Century of Birthing,9.0,3.0,,Drama,0.0
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,United States of America,2003-08-01,0.0,90.0,en,Released,A deadly game of wits.,Betrayal,3.8,6.0,,Action Drama Thriller,0.0
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,Russia,1917-10-21,0.0,87.0,,Released,,Satan Triumphant,0.0,0.0,,,0.0
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,,United Kingdom,2017-06-09,0.0,75.0,en,Released,,Queerama,0.0,0.0,,,0.0

In [57]:
#se crea la columna "release_year" y se extrae el año de la columna "release_date"
movies_db["release_year"] = movies_db["release_date"].str.extract(r'^(.{4})')

In [58]:
movies_db

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,collection,genres,return,release_year
0,0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,en,Released,,Toy Story,7.7,5415.0,Toy Story Collection,Animation Comedy Family,0.0,1995
1,0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Intersco...,United States of America,1995-12-15,262797249.0,104.0,en fr,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,,Adventure Fantasy Family,0.0,1995
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros Lancaster Gate,United States of America,1995-12-22,0.0,101.0,en,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,Romance Comedy,0.0,1995
3,0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,en,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,,Comedy Drama Romance,0.0,1995
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions Touchstone Pictures,United States of America,1995-02-10,76578911.0,106.0,en,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,Comedy,0.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,fa,Rising and falling between a man and woman.,0.072051,,Iran,,0.0,90.0,fa,Released,Rising and falling between a man and woman,Subdue,4.0,1.0,,Drama Family,0.0,NaN
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,Sine Olivia,Philippines,2011-11-17,0.0,360.0,tl,Released,,Century of Birthing,9.0,3.0,,Drama,0.0,2011
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,United States of America,2003-08-01,0.0,90.0,en,Released,A deadly game of wits.,Betrayal,3.8,6.0,,Action Drama Thriller,0.0,2003
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,Russia,1917-10-21,0.0,87.0,,Released,,Satan Triumphant,0.0,0.0,,,0.0,1917
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,,United Kingdom,2017-06-09,0.0,75.0,en,Released,,Queerama,0.0,0.0,,,0.0,2017